h1 {
    font-family: 'Roboto bold', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin: 5px;
    margin-left: 0px;
    margin-top: 10px;
    padding-left:20px;

}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-left:20px;

}
#small_text {
    font-size: 12px;
}
.white_text {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 0px black;
}
.red_text {
    font-weight: bold;
    color: #e41a1c;
}
body {
    background-color: white;
}
.page {
    width: 1200px;    
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}
.description-left {
    padding-right: 20px;
}
.pure-g {
    margin-bottom: 25px;
}
.small-font {
    font-size: 14px;
}
#banner {
    padding: 20px;
    padding-top: 25px;
    background: #27445C;
    background-position: center;
    color: white;
}
#vis_frame {
    background-color: #ddeefa;
    padding: 25px;
}
#vis_frame p {
    margin: 5px;
    padding-left:20px;
}
#choropleth_map {
    padding: 10px;
    width: 100%;
}
#end_credit {
    background: url("../media/webpage_banner.jpg") #20445f;
    background-position: center;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
}
.vega-bind {
    font-size: 14px;
    font-family: sans-serif;
}

select {
    --radius: 2px;
    --baseFg: #d7d7d7;
    --baseBg: #4d5061;
    --accentFg: #7a7c88;
    --accentBg: #3b3c47;
    font: 14px sans-serif;
    -webkit-appearance: none;
    appearance: none;
    color: var(--baseFg);
    border: 0;
    line-height: 1;
    outline: 0;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
    padding: 0.65em 2.5em 0.55em 0.75em;
    border-radius: var(--radius);
    background-color: var(--baseBg);
    background-image: linear-gradient(var(--accentBg), var(--accentBg)),
      linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
      linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;   
}
  
select:hover {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
}

input[type="range"] {
    margin: 7px;
    margin-left: 0px;
    margin-bottom: 10px;
}

a:link {
    color: #8b6c5c;
    background-color: transparent;
}
a:visited {
    color: #d8cbc4;
    background-color: transparent;
}
a:hover {
    color: #bca89f;
    background-color: transparent;
}
a:active {
    color: #765341;
    background-color: transparent;
}